@using E.Shop.Passport.Identity.Views.ViewModels
@model CustomErrorViewModel;

<div class="login-page-container">
 <div class="login-page-content">
     <h1>@Model.title</h1>
     <h3>@Model.description</h3>
 </div>
</div>