@using E.Shop.Passport.Identity.Controllers.Account.Models
@model ChangeForgotPasswordModel

<div class="login-page-container">
 <div class="login-page-content">
    <form asp-action="ChangeForgotPassword" class="login-form">       
        <input type="hidden" class="form-control" asp-for="Email" value=@Model.Email/>
        <input type="hidden" class="form-control" asp-for="Token" value=@Model.Token/>
        <fieldset>
            <h2>HR Vision</h2>
                @if (Model is null) {<h3>Почта не найдена</h3>}
                <div class="form-group">
                    <label asp-for="NewPassword">New password</label>
                    <input type="password" class="form-control" asp-for="NewPassword" autocomplete="off">
                </div>
            <div class="form-group">
                <button class="login-button" name="button" value="reset_password">Восстановить</button>                       
            </div>
        </fieldset>
    </form>
  </div>
</div>