@using E.Shop.Passport.Identity.Controllers.Account.Models
@model ChangePasswordModel

<div class="login-page-container">
 <div class="login-page-content">
    <form asp-action="ChangePassword" class="login-form">               
        <fieldset>
            <h2>HR Vision</h2>
            @if (Model is null) {<h3>Почта не найдена</h3>}
            <div class="form-group">
                @if (Model.Error is ErrorChangePassword.errorEmail) { <h6>Not found</h6>}
                <label asp-for="Email">Email</label>
                <input type="email" class="form-control" asp-for="Email" autocomplete="off">
                <label asp-for="Password">Password</label>
                <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                @if (Model.Error is ErrorChangePassword.errorPassword) { <h6>Not equals password</h6>}
                <label asp-for="NewPassword">NewPassword</label>
                <input type="newpassword" class="form-control" asp-for="NewPassword" autocomplete="off">                 
            </div>
            <div class="form-group">
                <button class="login-button" name="button" value="reset_password">Восстановить</button>                       
            </div>
        </fieldset>
    </form>
  </div>
</div>