@using E.Shop.Passport.Identity.Controllers.Account.Models

@model ResetPasswordModel

@if (Model is null)
{
    <div class="login-page-container">
        <div class="login-page-content">
            <form asp-action="ResetPassword" class="login-form">              
                <fieldset>
                    <h2>HR Vision</h2>
                    <h6>Не найден Email</h6>
                     <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input type="email" class="form-control" asp-for="Email" autocomplete="off">
                     </div>
                    <div class="form-group">
                        <button class="login-button" name="button" value="reset_password">Восстановить</button>                       
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}
else
{
    <div class="login-page-container">
        <div class="login-page-content">
            <fieldset >
                <h2 style="background-color: white">cсылка отправлена на @Model.Email</h2>
            </fieldset>
       </div>
    </div>
}